body{
    text-align:center;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    /* background-color: aquamarine; */
}
.main_container{
    flex:1;
}

.property_image{
    height: 9rem;
}

.property_card{
    max-width: 20rem;
}