body{
    text-align:center;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

main{
    flex:1;
    width: 80%;
    margin: auto;
    position: relative;
}

.property_image{
    height: 9rem;
}

.property_card{
    min-width: max-content;   
}

.property-desc{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.corner-right{
    position: absolute;
    right: 0;
    top: 0;
}

.whitetransparent{
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  opacity: 0.8;
  color: black;
  background-color: white;
  border-color: white;
}


.cargando{
    display: flex;
    background-color: #00000033;
    position: fixed;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contenedorcar{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 50%;
    width: 50%;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

.mostrar{
    opacity: 1;
    display: flex;
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 8px solid #21cea3;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
}

.imageuploader{
  background: linear-gradient(90deg, #2fbf9c 0%, #0074ff 100%);
}

.borderfade{
  background: linear-gradient(90deg, #2fbf9c 0%, #0074ff 100%);
}

.logoD{
  width: 7rem;
  height: 4rem;
}

a{
  text-decoration: none;
}

#imagesfield{
  
}

.miniimage{
  width: 7rem;
  height: 5rem;
}

.scroll-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
  /* cursor: grab;
  cursor: -webkit-grab; */
}

.scroll-container:active{
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scroll-content {
  display: inline-block;
}

.selectedimg{
  border: 3px solid #0074ff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,115,255,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,115,255,1);
  box-shadow: 0px 0px 5px 0px rgba(0,115,255,1);
}

td{
  background-color: #F3F3F3;
}

.buttonfadelight{
  background: linear-gradient(90deg, #2ac0ee 0%, #0074ff 100%);
}

.alert{
  border-radius: 10rem !important;
  border: none;
}

.alert-danger{
  background: #fdd !important;
}

.alert-success{
  background: #68ffcd !important;
}

.alert-warning{
  background: #ffe679 !important;
}